@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script:wght@700&family=Hurricane&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Karma', serif;
}

body {
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.image-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 1.5rem;
    
}

.nav-item a:hover {
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main {
    position: relative;
    width: 100%;
    height: 90vh;
}

#welcome-section {
    position: absolute;
    top: 40%;
    left: 10%;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #BF59A2, #00409A) 1;
}

h3 {
    margin-top: 20px;
}

#name {
    font-size: 6rem;
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Hurricane', cursive;
}

i {
    padding: 10px;
}

i:hover {
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42%;
    left: 10px;
}

.right {
   text-align: right;
    
}

.main-image {
    width: 50%;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 100px 10px;
}

.project-img {
    width: 100%;
    height: 350px; 
}

.project-img:hover {
    box-shadow: -3px -4px 81px -11px rgba(0,0,0,0.34);
}












