@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script:wght@700&family=Hurricane&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Karma', serif;
}

body {
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.image-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 1.5rem;
}

.nav-item a:hover {
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    position: relative;
    width: 100%;
    height: 90vh;
}

#welcome-section {
    position: absolute;
    top: 40%;
    left: 10%;
    height: 90vh;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #BF59A2, #00409A) 1;
}

h3 {
    margin-top: 20px;
}

#name {
    font-size: 6rem;
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Hurricane', cursive;
}

i {
    color: black;
    padding: 10px;
}

i:hover {
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42%;
    left: 10px;
}

.fa-brands {
    font-size: 2em;
}


.right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

.main-image {
    margin: 150px 0;
    width: 100%;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 100px 10px;
}

.project-img {
    width: 100%;
    height: 350px; 
}

.project-img:hover {
    box-shadow: -3px -4px 81px -11px rgba(0,0,0,0.34);
}

.link {
    text-align: center;
}

.link a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.link a:hover {
    background-image: linear-gradient(to right, #BF59A2, #00409A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (min-width: 1700px)
{
    h1 {
        font-size: 3.5rem;
    }

    #name {
        font-size: 8rem;
    }
     
    .social-icons {
        top: 47%;
    }

    .main-image {
        margin: 150px 10px;
    }
}

@media (max-width: 1500px) {
    h1 {
        font-size: 1.9rem;
    }

    #name {
        font-size: 6rem;
    }

    h3 {
        font-size: 1rem;
    }

    .main-image {
        width: 80%;
        margin: 150px 10px;
    }
}

@media (max-width: 1200px) {
    h1{
        font-size: 1.5rem;
    }

    #name {
        font-size: 4rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    .main-image {
        width: 60%;
    }

    .fa-brands {
        font-size: 1.5em;
    }

    #projects {
        margin: 0 10px;
    }

    .project-img {
        height: 250px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.2rem;
    }

    #name {
        font-size: 3rem;
    }

    h3 {
        font-size: 0.6rem;
    }

    .main-image {
        width: 50%;
    }

    .fa-brands {
        font-size: 1rem;
    }

    .social-icons {
        flex-direction: row;
        top: 59%;
        left: 63px;
        z-index: 2;
    }

    .nav-item a{ 
        font-size: 1rem;
    }

    #projects {
        grid-template-columns: 1fr 1fr;
    }

    .project-img {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .right {
        justify-content: center;
    }

    .main-image {
        margin: 80px 0;
    }
    #welcome-section {
        top: 45%;
        left: 30%;
        text-align: center;
    }

    .social-icons {
        top: 60%;
        left: 40%;
    }

}

@media (max-width: 540px) {
    h1 {
        font-size: 1rem;
    }

    #name {
        font-size: 2rem;
    }

    .main-image {
        width: 50%;
    }

    #welcome-section {
        top: 40%;
        left: 25%;
    }

    .social-icons {
        top: 52%;
        left: 29%;
    }

    .project-img {
        height: 150px;
    }
}

@media (max-width: 400px) {
    #navbar {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
    }
    
    .nav-items a {
        margin: 0;
    }
    
    .right {
        margin-top:  80px;
    }

    #welcome-section {
        top: 50%;
    }

    .social-icons {
        top: 62%;
    }

    .project-img {
        height: 100px;
    }
}









